@charset "utf-8";


body{
  width: 414px;
  margin: 0px auto;}




/* ------------배너영역----------- */
#wrap{
      width: 414px;
      position: absolute;
      margin: 0px auto;
      transition: 0.5s;
    }

    .banner{
      background: #ffd8f0;
      /* overflow: hidden; */
      position: relative;
      height: 60px;
      text-align: center;
    }
    .banner img{
      width: 414px;
      height: 60px;}
    .banner label{
      position: absolute;right: 20px; top: 14px;
      z-index: 10;
    }
    .banner .banner_close{
      color: #FFF;
      font-size: 36px;
    }
    input[type=checkbox]{display: none;}


/* -------------헤더영역----------------------- */

header{
  height: 50px;
  background-color: #980000;
  position: relative;
}

header .h_bar{
  position: absolute;
  top: 12px; left: 10px;
  color: #fff;
  font-size: 25px;
}

header .h_user{
  position: absolute;
  top: 12px; right: 10px;
  color: #fff;
  font-size: 25px;
}

header h2{
  color: #fff;
  font-size: 22px;
  text-align: center;
  padding-top: 12px;
}

.button{
  width: 77px; height: 24px;
  font-size: 11px;
  padding:3px 10px; 
  border: none;
  transition: 0.2s;
  background: #980000;
  color: #fff;
  text-decoration: none;
}

.button:hover{
  color: #fff;
  background: #333;
}

/*---------------내비게이션 영역------------*/

.navi{
  width: 90%; height: 100%;
  left:-100%; top: 0px;
  background-color: #2e2e2e;
  position: fixed;
  transition: 0.3s;
  overflow: hidden;
  z-index: 99999;

}

/* 토글 클릭하면 내비게이션 나오게 하기 */
#toggle:checked + #wrap > header > .navi{left: 0px;}

.gnb_close{
  position: absolute;
  right: 15px; top: 20px;
  font-size: 24px;
  color: #fff;
}

.gnb{
  width: 90%;
  height: 100%;
  position: absolute;
  top: 0px; left: 0px;
  background: #2e2e2e;
  text-indent: 10px;
}

.gnb > li:first-child{
  padding-top: 20px;
}

.gnb > li a{
  text-decoration: none;
  display: block;
  line-height: 25px;
  color: #fff;
}

.gnb > li > label{
  line-height: 25px;
  font-size: 16px;
  padding: 15px;
  color: #fff;
  cursor: pointer;
  border-bottom: 1px solid #fff;
  display: block;
}
.gnb > li > input[type=checkbox]{
  display:none;
}

.gnb > li i.fas{
  position: absolute;
  right: 15px;
  font-size: 20px;
  color: #fff;
}

.sub{
  text-indent: 20px;
  background-color: #5e5e5e;
  display: none;
}

.sub > li {
  width: 85%;
  padding-top: 10px;
  padding-bottom: 10px;

}
.sub > li > a{
  color: #fff;
  font-size: 14px;
  line-height: 16px;
  text-decoration: none;

}

/* 메인메뉴를 터치하면 아래 서브메뉴 나오게 하기*/
.gnb input[type=checkbox]:checked + .sub{display:block;}


/* -----------------메인영역------------------ */

.s_01{
  height: 327px;
  position: relative;
  overflow: hidden;
}

.s_01 img{
  height: 100%;
}

.s_01 h2{
  color: #fff;
  position: absolute; 
  left: 120px; top: 170px;  
  font-size: 25px;
}

.s_01 span{
  color: #fff;
  font-size: 18px;
  position: absolute;
  left: 110px; top: 100px;
  line-height: 25px;
  font-weight: bold;
}

.s_01 p{
  position: absolute;
  bottom: 100px; left: 160px;
  text-decoration: none;
}



.s_02{ 
  height: 318px;
  background-color: #980000;
  margin-bottom: 20px;

}

.s_02 h2{
  color: #fff;
  font-size: 16px;
  padding: 20px;
}

/* 스와이퍼 슬라이드 - 상품목록 */
.s_02_slide{
  overflow: hidden;
  position: relative; /*콘토를 버튼의 기준-부모*/  
}

.s_02_slide .swiper-slide{
  height: 255px;
}

.s_02_slide .swiper-slide img{
  width: 140px;
  height: 187px;
  text-align: center;
}

.swiper-slide > ul{
  /* width: 100%; */
  padding-left: 50px;
  /* box-sizing: border-box; 가로 100보다 초과되지 않게 */
  display: flex;

}
.swiper-slide > ul > li{
  width: 50%;
}

.swiper-slide > ul > li > p{
  padding-top: 5px;
  /* text-align: center; */
  color: #fff;
  font-size: 14px;
}



.s_03{
  height: 290px;
  background-color: #e386a3;
  display: flex;
  position: relative;
}

.s_03_left{
  width: 207px; 
}
.s_03_left h2{
  font-size: 20px;
  color: #333;
  position: absolute;
  top: 70px;
  left: 20px;
}
.s_03_left p:first-of-type{
  font-size: 12px;
  color: #333;
  position: absolute;
  left: 20px; top: 140px;
  line-height: 16px;
  
}
.s_03_left p:last-of-type{
  position: absolute;
  bottom: 50px;
  left: 80px;
}

.s_03 img{
  width: 194px;
  position: absolute;
  right: 0px;
}

.s_04{
  height: 195px;
  margin-top: 20px;
  margin-bottom: 20px;
  position: relative; 
}

.s_04 img{
  width: 100%;
}

.s_04 h2{
  color: #fff;
  position: absolute;
  bottom: 10px;
  font-weight: bold;
  font-size: 20px;
  padding-left: 8px;
}

.s_05{
  height: 363px;
  overflow: hidden;
  position: relative;
}

.s_05 img{
  height: 290px;
}

.s_05 h2{
  color: #333;
  position: absolute;
  bottom: 50px; right: 10px;
  font-size: 16px;
  font-weight: bold;
}

.s_05 p:first-of-type{
  color: #fff;
  position: absolute;
  right: 10px; top: 220px;
  font-size: 23px;
  font-weight: bold;
}
.s_05 p:nth-of-type(2){
  color: #fff;
  position: absolute;
  right: 10px; top: 245px;
  font-size: 18px;
  font-weight: bold;
}
.s_05 p:last-of-type{
  position: absolute;
  bottom: 23px; right: 10px;
  text-decoration: none;
}





/* ---------------푸터영역----------------- */

.f_up{
  height: 71px;
  background-color: #dedede; 
  position: relative;
}

address{
  font-size: 12px;
  color: #333;
  line-height: 20px;
  padding-top: 15px;
  margin-left: 10px;
}

address p:last-child{
  position: absolute;
  right: 10px;
  top: 13px;
}

.sns{
  display:flex;
  position: absolute;
  right: 10px; bottom: 15px;
  font-size: 20px;
}

.sns li:first-child, li:nth-child(2), li.last-child{padding-right: 10px;}


.f_bar{
  height: 60px;
  background-color: #292929;
  display: flex; 
  justify-content: space-around;
  list-style: none;
  text-decoration: none;
  color: #fff;
}

.f_bar li{
  color: #fff;
  display: block;
  text-align: center;
  font-size: 25px;
  padding-top: 5px;
  list-style: none;
}

.f_bar li a{
  text-decoration: none;
  color:#fff;
  height: 50px;
}

.f_bar li span{
  display: block;
  text-align: center;
  font-size: 12px;
  padding-top: 7px;
}

/* 부모 아래 다른 자식 있을 때 first-child x first-of-type o */